{
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module",
        "parser": "babel-eslint"
    },
    "rules": {
        "no-unused-vars": 0,
        "no-console": "off"
    }
    
}